* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  /* color */
  --word-on-color: hsl(6, 90%, 75%);
  --word-off-color: hsl(6, 90%, 85%);
  --meaning-on-color: hsl(60, 100%, 95%);
  --score-color: hsl(185, 34%, 53%);
  --score-porgress-color: hsl(61, 100%, 88%);
  --button-color: hsl(185, 34%, 53%);
  --black-color:hsl(0, 0%, 35%);
  --white: #fefefe;
}

#menu {
  position: absolute;
  /* z-index: 10; */
}

.container {
  position: absolute;
  width: 100%;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
}


.main-unit {
  display: none;
  margin-top: -20px;
}

.main-unit-list {
  display: flex;
  align-items: center;
  /* width: 500px; */
  height: 80px;
  user-select: none;
  cursor: pointer;
  /* margin: 10px; */
  overflow-x: scroll;
}


.list {
  list-style: none;
  flex: 1 0 100px;
  height: 50px;
  margin: 3px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  background-color: var(--score-color);
  color: var(--white);
  transition: .3s;
}

.list:hover {
  background-color: rgb(19, 54, 68);
  margin-top: -3px;
}

.sub-unit-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 30px;
}

.unit {
  width: 100px;
  height: 60px;
  padding-top: 5px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  color: rgb(114, 114, 114);
  background-color: rgba(0,0,0,.2);
  user-select: none;
  cursor: pointer;
}

.unit-box-border {
  border: 1px solid rgb(255, 150, 100);
}

.unit-on {
  background-color: orangered;
}


.calender-unit-list {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 1px;
  list-style: none;
  margin-bottom: 50px;
  font-size: 12px;
  text-align: center;
}

.calender-unit {
  width: 50px;
  height: 55px;
  line-height: 25px;
  color: rgb(77, 77, 77);
  border: 1px solid rgb(255, 200, 81);
  border-radius: 5px;
  /* background-color: rgb(255, 250, 203); */
  user-select: none;
}

.calender-day-title {
  width: 50px;
  height: 30px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  user-select: none;
}

.user {
  z-index: 100;
  position: absolute;
  top: 25px;
  width: 300px;
  height: 550px;
  background-color: rgba(0,0,0,.8);
  border-radius: 20px;
  padding-top: 40px;
  display: block;
}

.user > div {
  height: 160px;
  text-align: center;
  cursor: pointer;
}

.signIn {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  color: #fefefe;
  background-color: rgb(19, 54, 68);
  user-select: none;
  display: none;
}

.change-user {
  position: relative;
  top: -35px;
  left: 130px;
  width: 35px;
  height: 35px;
  background-color: rgb(45, 150, 192);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.change-user:hover:after {
  position: absolute;
  z-index: 1000;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 50px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.7);
  color: #fefefe;
  font-size: 12px;
  content: 'change the user';
}

@media screen and (min-width: 768px) {
  

.list {
  flex: 1 0 120px;
  font-size: 17px;
}

.main-unit-list {
  width: 800px;
  overflow-x:auto;
}
  .sub-unit-list {
    grid-template-columns: repeat(5,1fr);
}

.signIn {
  width: 300px;
}

.change-user {
  left: 200px;
}

.unit{
  height: 100px;
  line-height: 40px;
}

.calender-unit-list {
  gap: 5px;
  font-size: 13px;
}
.calender-unit {
  width: 80px;
  height: 55px;
  line-height: 25px;
}

.calender-day-title {
  width: 80px;
  height: 30px;
  line-height: 25px;
}
}